<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <!-- 屏幕适配宽度 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <!-- 屏幕适配高度度 -->
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".activity.HomeActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PreMeetingRoomActivity"
            android:exported="false" />
    </application>

</manifest>